annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
cryptography==45.0.3
dash==3.0.4
dash-bootstrap-components==2.0.3
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-tools==1.12.0
distlib==0.3.9
dnspython==2.7.0
docopt==0.6.2
ecdsa==0.19.1
email-validator==2.2.0
fastapi==0.115.12
filelock==3.18.0
flask==3.0.3
greenlet==3.2.2
gunicorn==23.0.0
h11==0.16.0
identify==2.6.12
idna==3.10
importlib-metadata==8.7.0
iniconfig==2.1.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
narwhals==1.42.0
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.3.0
packaging==21.3
pandas==2.3.0
passlib==1.7.4
pip-chill==1.0.3
pipreqs==0.4.12
platformdirs==4.3.8
plotly==6.1.2
pluggy==1.6.0
pre-commit==2.16.0
py==1.11.0
pyasn1==0.6.1
pycparser==2.22
pydantic==2.11.5
pydantic-core==2.33.2
pyparsing==3.2.3
pytest==6.2.5
python-dateutil==2.9.0.post0
python-jose==3.5.0
pytz==2025.2
pyyaml==6.0.2
requests==2.32.4
retrying==1.3.4
rsa==4.9.1
ruamel-yaml==0.17.21
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.41
sqlmodel==0.0.24
starlette==0.46.2
termcolor==1.1.0
toml==0.10.2
typing-extensions==4.13.2
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.3
virtualenv==20.31.2
visdcc==0.0.50
werkzeug==3.0.6
yarg==0.1.10
yolk3k==0.9
zipp==3.23.0
